@{
    ViewBag.Title = "Segurança";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Controle das regras de segurança e acesso aos sistemas.</p>
