@{
    ViewBag.Title = "Segurança";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>*@


<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img alt="300x200" src="~/Content/images/7-2.jpg" />
            <div class="caption">
                <h3>
                    Controle de Acesso
                </h3>
                <p>
                    O controle de acesso é hoje uma das principais ferramentas para controle de segurança não somente de objetos ou espaços físicos como também sobre a segurança de informações, pois em muitos os segmentos, as informações são os itens mais valiosos.
                </p>
                <p>
                    O controle de acesso, na segurança da informação, é composto dos processos de autenticação, autorização e auditoria (accounting). Neste contexto o controle de acesso pode ser entendido como a habilidade de permitir ou negar a utilização de um objeto (uma entidade passiva, como um sistema ou arquivo) por um sujeito (uma entidade ativa, como um indivíduo ou um processo). A autenticação identifica quem acessa o sistema, a autorização determina o que um usuário autenticado pode fazer, e a auditoria diz o que o usuário fez.
                </p>
                <p>
                    <a class="btn btn-primary" href="#modal-container-964987a" data-toggle="modal">Saiba mais &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img alt="300x200" src="~/Content/images/25-2.jpg" />
            <div class="caption">
                <h3>
                    Auditoria
                </h3>
                <p>
                    O log de auditoria registra ações específicas executadas por determinados usuários. Os administradores podem usá-lo para manter um registro de todas as alterações feitas a objetos de destinatário. O log de auditoria pode ajudar a sua organização a cumprir os requisitos legais e regulamentadores. 
                </p>
                <p>
                    Ao configurar cuidadosamente o escopo do log de auditoria, você pode controlar exatamente as ações que são registradas em log, tornando os logs de auditoria mais fáceis de serem revisados e gerenciados.
                </p>
                <p>
                    <a class="btn btn-primary" href="#modal-container-964987b" data-toggle="modal">Saiba mais &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img alt="300x200" src="~/Content/images/1consulTI.png" />
            <div class="caption">
                <h3>
                    Segurança da informação
                </h3>
                <p>A segurança da informação está relacionada com proteção de um conjunto de informações, no sentido de preservar o valor que possuem para um indivíduo ou uma organização.</p>
                <p>
                    A segurança em nuvem se tornou um tópico polêmico em muitas empresas. Alguns veem cloud como uma necessidade de negócio, para fazer frente à concorrência ou mesmo como um veículo de transformação do “velho mundo” da TI. Outros ainda encaram o modelo como algo que traz grandes riscos de segurança. Na verdade, a computação em nuvem representa uma oportunidade para repensar, redesenhar e operacionalizar a segurança da informação e o gerenciamento de risco para dar agilidade ao negócio.
                </p>
                <p>
                    Observando bem, cloud computing oferece uma única mudança na gestão dos sistemas de informação: o uso da automação. Embora muitos olhem a automação como o principal ponto de eficiência e redução de custo da nuvem, ela é igualmente valiosa, se não for até mais, para segurança da informação e gerenciamento de risco. Olhando para os atuais problemas de segurança, o cenário está cheio de métodos manuais e desconectados.
                </p>
                <p>
                    <a class="btn btn-primary" href="#modal-container-964987c" data-toggle="modal">Saiba mais &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>

@***********Formulário Modal Botão 1**************@
<div class="modal fade" id="modal-container-964987a" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Controle de Acesso
                </h4>
            </div>
            <div class="modal-body">
                <p><b>Identificação e autenticação</b></p>
                <p>Identificação e Autenticação fazem parte de um processo de dois passos que determina quem pode acessar determinado sistema. Durante a identificação o usuário diz ao sistema quem ele é (normalmente através de um nome de usuário). Durante a autenticação a identidade é verificada através de uma credencial (uma senha, por exemplo) fornecida pelo usuário. Atualmente, com a popularização tecnológica, reconhecimento por impressão digital, smartcard, MiFare ou RFID estão substituindo, por exemplo, o método de credencial (nome e senha). Dispositivos com sensores que fazem a leitura, a verificação e a identificação de características físicas únicas de um indivíduo aplicam a biometria e fazem agora a maior parte dos reconhecimentos. A identificação biométrica por impressão digital é a mais conhecida e utilizada atualmente por sua fiabilidade alta e baixo custo.
                <p><b>Autorização</b></p>
                <p>Autorização define quais direitos e permissões tem o usuário do sistema. Após o usuário ser autenticado o processo de autorização determina o que ele pode fazer no sistema.</p> 
                <p><b>Auditoria</b></p>
                <p>Auditoria (accounting) é uma referência à coleta da informação relacionada à utilização, pelos usuários, dos recursos de um sistema. Esta informação pode ser utilizada para gerenciamento, planejamento, cobrança e etc. A auditoria em tempo real ocorre quando as informações relativas aos usuários são trafegadas no momento do consumo dos recursos. Na auditoria em batch as informações são gravadas e enviadas posteriormente. As informações que são tipicamente relacionadas com este processo são a identidade do usuário, a natureza do serviço entregue, o momento em que o serviço se inicia e o momento do seu término.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>

</div>
@***********Formulário Modal Botão 2**************@
<div class="modal fade" id="modal-container-964987b" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Que ações são registradas em log?
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Qualquer operação de inclusão, alteração ou exclusão serão registradas em log. Os principais dados gravados são a data e hora que a ação foi realizada e qual usuário que realizou. Também será gravado um breve texto contendo alguns detalhes do que foi processado. Até o próprio login no sistema será auditado.
                </p> 
                <p>
                    Os dados do log ficarão gravados no banco de dados e poderão ser consultados pelo administrador aqui pelo sistema de segurança no relatório chamado "Log de Auditoria".
                </p>
                <p>
                    O sistema de segurança também audita os possíveis erros ocasionados durante a execução da aplicação. Esses erros não são gravados em banco de dados, mas em arquivo texto e poderão ser consultados pelo administrador no relatório chamado "Log de Auditoria de Erros".
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>

</div>

@***********Formulário Modal Botão 3**************@
<div class="modal fade" id="modal-container-964987c" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Segurança da Informação
                </h4>
            </div>
            <div class="modal-body">
                <p>Vivemos em um mundo globalizado, com o espaço geográfico fragmentado, porém fortemente articulado pelas redes, onde a informação, independente do seu formato, é um dos maiores patrimônios de uma organização moderna, sendo vital para quaisquer níveis hierárquicos e dentro de qualquer instituição que deseja manter-se competitiva no mercado. Considerada um ativo importantíssimo para a realização do negócio a informação deve ser protegida e gerenciada.</p>
                <p>Nos últimos anos as tecnologias de informação e comunicação têm evoluído de forma rápida, fazendo com que as organizações tenham maior eficiência e rapidez nas tomadas de decisão, devido a este fato as chances de uma empresa não usar sistemas de informação tornou-se praticamente nula. Neste contexto a importância de se utilizar mecanismos de segurança e de armazenamento das informações é vital para a sobrevivência e competitividade destas organizações.</p>
                <p>No passado a questão segurança da informação era muito mais simples, pois os arquivos contendo inúmeros papéis podiam ser trancados fisicamente, porém com a chegada das tecnologias da informação e comunicação a questão ficou bem mais complexa, hoje a maioria dos computadores conecta-se a internet e consequentemente a internet conecta-se a eles, além disto, sabemos que dados em formato digital são portáteis, este fato fez que estes ativos tornassem atrativos para ladrões. Mas isto não é tudo, existem inúmeras situações de insegurança que podem afetar os sistemas de informação como incêndios, alagamentos, problemas elétricos, poeira, fraudes, uso inadequado dos sistemas, engenharia social, guerras, sequestros, etc.</p>
                <p>Portanto podemos dizer que não existe segurança absoluta, torna-se necessário agirmos no sentido de descobrir quais são os pontos vulneráveis e a partir daí avaliar os riscos e impactos, e rapidamente providenciar para que a segurança da informação seja eficaz.</p>
                <p>Infelizmente o que vemos na prática é que muitas empresas não dão o devido valor a esta questão e por muitas vezes o preço é muito alto, portanto o melhor caminho é reduzir ao máximo quaisquer riscos às informações, seguindo um trajeto no sentido único de manter a integridade e a disponibilidade dos sistemas de informação. Para se implantar uma eficaz segurança da informação dentro de uma organização devemos ficar atentos para algumas questões como uma boa análise de riscos, a definição da Política de Segurança e por fim um plano de contingência.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>

</div>
