@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Finanças</h1>
        <p>Sistema de gestão financeira com o objetivo de administrar as contas a pagar e receber de uma empresa ou contas domésticas, incluindo as transações bancárias.</p>
        <p><a href="#" class="btn btn-primary btn-large">Leia mais &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Contas a pagar</h2>
          <p>Realiza os lançamentos de contas a pagar para um credor. O sistema permite lançamentos de contas unitárias ou contas parceladas (mensalidades).  Realiza a baixa parcial de uma parcela, liquidação total ou individual de uma conta. Todos os lançamentos podem ser automaticamente enquadrados na contabilidade da empresa. O pagamento de uma conta implica na atualização automática dos saldos bancários.</p>
          <p><a class="btn" href="#">Ver detalhes &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Contas a receber</h2>
          <p>Realiza os lançamentos de contas a receber de um cliente. O sistema permite lançamentos de contas unitárias ou contas parceladas (mensalidades).  Realiza a baixa parcial de uma parcela, liquidação total ou individual de uma conta. Todos os lançamentos podem ser automaticamente enquadrados na contabilidade da empresa. O pagamento de uma conta implica na atualização automática dos saldos bancários.</p>
          <p><a class="btn" href="#">Ver detalhes &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Contabilidade</h2>
          <p>Realiza abertura e encerramento de exercício contábil, bem como os grupos de lançamentos de débito e crédito com partida simples ou dobrada por exercício. Emite também os relatórios contábeis excenciais da contabilidade tais como Diário, Razão, Balancete e Balanço Patrimonial.</p>
          <p><a class="btn" href="#myModal" data-toggle="modal">Ver detalhes &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contabilidade</h3>
  </div>
  <div class="modal-body">
    <p>O subsistema de contabilidade registra os lançamentos contábeis provenientes dos lançamentos de contas a pagar e contas a receber automaticamente.
        É possível também realizar diretamente os lançamentos contábeis para atualização do ativo e passivo. Este subsistema tem como objetivo procedeer todas as operações
        contábeis de uma empresa, entre elas a abertura e encerraemento do exercício, lançamentos com partida simples e partida dobrada e a emissão dos relatórios contábeis
        tais como Diário, Razão, Balancente e Balanço.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
