body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */


@media (max-width: 1980px) {
    input,
    select,
    textarea {
        max-width: 1080px;
    }

    .Scroll {
        overflow-y: scroll;
        height: 560px;
    }

    .Listagem {
        margin-left: 10px;
        margin-top: 10px;
        max-height: 560px;
        overflow-y: auto;
    }
}

@media (max-width: 600px) {
    input,
    select,
    textarea {
        max-width: 400px;
    }

    .Scroll {
        overflow-y: scroll;
        height: 300px;
    }

    .Listagem {
        margin-left: 10px;
        margin-top: 10px;
        max-height: 400px;
        overflow-y: auto;
    }
}

@media (max-width:290px) {
    input,
    select,
    textarea {
        max-width: 280px;
    }

    .Scroll {
        overflow-y: scroll;
        height: 150px;
    }
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

fundoModal
{
    background-color: Black;
    filter:alpha(opacity=60);
    opacity:0.6;
    position: absolute; left: 0%; top: 0%;
    width: 100%;
    height: 100%;
    _height: 800px;
    _width: 110%;
    
}

.modalPopupCarregando
{
    background-color: #FFFFFF;
    border: none;
    padding: 2px;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: auto;
}
