<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://seguranca.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-007.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>seguranca</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$seguranca</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="App_DominioContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:otdelzadqn.database.windows.net,1433;Initial Catalog=seguranca;Integrated Security=False;User ID=sindmepa@otdelzadqn;Password=@morim0104;Connect Timeout=30;Encrypt=True" Name="Server=tcp:otdelzadqn.database.windows.net,1433;Database=seguranca;User ID=sindmepa@otdelzadqn;Password=@morim0104;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="App_Dominio.Entidades.App_DominioContext, App_Dominio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Seguranca.Models.ApplicationDbContext, Seguranca" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SecurityContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:otdelzadqn.database.windows.net,1433;Initial Catalog=seguranca;Integrated Security=False;User ID=sindmepa@otdelzadqn;Password=@morim0104;Connect Timeout=30;Encrypt=True" Name="Server=tcp:otdelzadqn.database.windows.net,1433;Database=seguranca;User ID=sindmepa@otdelzadqn;Password=@morim0104;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="App_Dominio.Entidades.SecurityContext, App_Dominio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=seguranca;Persist Security Info=True;User ID=sa;Password=masterkey" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=seguranca;Persist Security Info=True;User ID=sa;Password=masterkey;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)App_DominioContext-Web.config Connection String">
      <ParameterValue>Server=tcp:otdelzadqn.database.windows.net,1433;Database=seguranca;User ID=sindmepa@otdelzadqn;Password=@morim0104;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SecurityContext-Web.config Connection String">
      <ParameterValue>Server=tcp:otdelzadqn.database.windows.net,1433;Database=seguranca;User ID=sindmepa@otdelzadqn;Password=@morim0104;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>